* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  height: 50px;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  position: sticky;
  padding: 10px;
}

.search-button {
  border: none;
  background-color: #FF5A5F;
  color: white;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
}

.search-button i {
  align-items: center;
  width: 100%;
}
